.container {
  align-items: center;
}

.form-center {
  width: 70%;
  padding: 25px 40px 25px 40px;
}

.align-left {
  text-align: left;
}

.left-field {
  width: 63%;
}

.right-field {
  width: 23%;
}

.search-btn {
  height: 51px;
  vertical-align: super;
  margin-left: 10px;
  width: 12%;
}

.sticky-search {
  background-color: white;
  position: fixed;
  top: 0;
  width: 91.7%;
  height: 85px;
  display: flex;
  justify-content: center;
}

.content {
  margin: 100px auto 50px 70px;
  width: 80%;
  display: block;
}
