<div class="container">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    [style.fontSize.px]="14"
    class="form-center"
  >
    <div class="align-left"><h2>Login</h2></div>
    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Username" />
    </mat-form-field>
    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
      />
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="loginForm.invalid">
      LOGIN
    </button>

    <div class="applicant-link">
      <h3>
        Want to apply for a job?
        <a [routerLink]="['/applicant']">Right this way!</a>
      </h3>
    </div>
  </form>
</div>
