.container {
  display: flex;
  height: 100%;
}

.container_sidebar {
  width: 7%;
  text-align: center;
  background: rgba(92, 220, 224, 0.39);
}

.container_main {
  /* Take the remaining width */
  flex: 1;
  /* Make it scrollable */
  overflow: auto;
  background: white;
  /* background: rgba(86, 172, 253, 0.596); */
}

.search-btns {
  margin-top: 25px;
}

fa-icon {
  font-size: 28px;
}

h2 {
  margin-bottom: 0px;
}
h3 {
  margin-top: -8px;
}

mat-button-toggle-group {
  width: 70%;
  border-radius: 7px;
}
