<div class="container">
  <!-- Sidebar -->
  <aside class="container_sidebar">
    <h2>Search</h2>
    <h3>Awesome</h3>
    <div class="search-btns">
      <mat-button-toggle-group vertical value="search-basic">
        <!-- <mat-button-toggle
          value="application"
          matTooltip="Job Application"
          matTooltipPosition="right"
          (click)="applicant()"
          ><fa-icon [icon]="faUser"></fa-icon
        ></mat-button-toggle> -->
        <mat-button-toggle
          value="search-basic"
          matTooltip="Basic Search"
          matTooltipPosition="right"
          (click)="basicSearch()"
          ><fa-icon [icon]="faSearch"></fa-icon
        ></mat-button-toggle>
        <mat-button-toggle
          value="search-advanced"
          matTooltip="Advanced Search"
          matTooltipPosition="right"
          (click)="advancedSearch()"
          ><fa-icon [icon]="faSearchPlus"></fa-icon
        ></mat-button-toggle>
        <mat-button-toggle
          value="stats"
          matTooltip="Statistics"
          matTooltipPosition="right"
          (click)="stats()"
          ><fa-icon [icon]="faStats"></fa-icon
        ></mat-button-toggle>
        <mat-button-toggle
          value="logout"
          matTooltip="Logout"
          matTooltipPosition="right"
          (click)="logout()"
          ><fa-icon [icon]="faLogout"></fa-icon
        ></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </aside>

  <!-- Main -->
  <main class="container_main">
    <div [ngSwitch]="currentView">
      <!-- <app-applicant *ngSwitchCase="'applicant'"></app-applicant> -->
      <app-search *ngSwitchCase="'basicSearch'"></app-search>
      <app-search-advanced
        *ngSwitchCase="'advancedSearch'"
      ></app-search-advanced>
      <app-stats *ngSwitchCase="'stats'"></app-stats>
    </div>
  </main>
</div>
